
.row {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.column img {
    width: 100px;
    height: auto;
} 

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container {
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.our-product {
    text-align: center;
    flex-grow: 1;
}

.cart {
    margin-right: 10px;
}

.product {
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 25px;
}

.product-type {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.buttons {
    margin-left: 40px;
    display: flex;
}

.buttons .button_service, 
.buttons .button_facilities {

}

.buttons .active, 
.buttons .active {
    background-color: #ccc;
}


.buttons button {
    border: 2px solid black;
    padding: 2px;
    width: 140px;
    background-color: white;;
}

/* .buttons button:first-child {
    background-color: #0077b6;

} */

.product-list {
    margin-top: 15px;

}

.product-search {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.product-search p {
    margin-right: 20px;
}

.product-search .input-text {
    width: 340px;
}

.product-search .input-text::placeholder {
    font-style: italic;
}
